.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 120px;
  margin-top: 30px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
  
}

.App-title {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to {  transform: rotateY(360deg); }
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  background: rgba(37,37,37,0.74);
}

a {
color: #FFFFFF;
text-decoration: none;
}